@model WebApplication3.Models.Product

<h2>Add Product</h2>

<form method="post">
    Id: <input type="text" asp-for="Id" /><br />
    Name: <input type="text" asp-for="Name" /><br />
    Price: <input type="text" asp-for="Price" /><br />
    <button type="submit">Save</button>
</form>
